# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Environment
.env
*.env
.streamlit/secrets.toml

# Data / Logs / DB
*.db
*.log
*.csv
*.rtf

# OS
.DS_Store

# Node
node_modules/
.next/

# Vercel
.vercel
